@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=PT+Serif&display=swap');

.App{
  background-color: #171717;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  height: 100vh;
}

/*homepage.js*/
.welcome-title{
  font-size: 144px;
  color: white;
  padding: 200px  0px 0px 0px;
}

button.login-button{
  width: 700px;
  height: 150px;
  font-size: 72px;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  background-color: #34CA70;
  border-radius: 100px;
}

button.login-button{
  width: 700px;
  height: 150px;
  font-size: 72px;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  background-color: #34CA70;
  border-radius: 100px;
}

/*question.js*/

.dropdown-menu{
  width: 500px;
}

button#dropdown-basic{
  width: 500px;
  font-size: 50px;
  color: white;
  border-color: transparent;
  background-color: transparent;
  /* background-color: blue; */
  box-shadow: 0 0 0 0;

  position: absolute;
  top: 450px;
  right: 480px;
}
.dropdown-item{
  font-size: 90px;
}
a.dropdown-item{
  color: white;
}
.dropdown-menu.show{
  /* background-color: transparent; */
  background-color: red;
  text-align: right;
}
.description-q{
  position: absolute;
    width: 1034px;
    height: 151px;
    left: 255px;
    top: 378px;

  font-size: 144px;
  color: white;
  /* padding: 200px  0px 0px 0px; */
}

/* https://react-bootstrap.netlify.app/components/dropdowns/#custom-dropdown-components */